.line{
    margin: 0;
}
.bg-size{
    background-repeat: no-repeat;
   background-size: cover;
    height: 400px;
}
.bg-size-ct{
    background-repeat: no-repeat;
   background-size: cover;
    height: 300px;
}
.slider-title{
    font-size: 3.5em;
}
